<ion-content padding>
  <h3>LadBlog</h3>
  <ion-list>
  	 <div *ngFor='let post of postList' (tap)='more(post)'>
  	 	<ion-card>
  	 	  <img src="{{post.image}}"/>
  	 	  <ion-card-content>
  	 	    <ion-card-title>
  	 	      {{post.title}}
  	 	      </ion-card-title>
  	 	    <p>{{post.description}}
  	 	    </p>
  	 	    <p float-right (tap)='more(post)'>more..</p>
  	 	  </ion-card-content>
  	 	</ion-card>
  	 </div>
  </ion-list>
  <ion-fab right bottom>
      <button ion-fab color="light" (click)='chat()'><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="96 93 322 324"><path d="M257 93c-88.918 0-161 67.157-161 150 0 47.205 23.412 89.311 60 116.807V417l54.819-30.273C225.449 390.801 240.948 393 257 393c88.918 0 161-67.157 161-150S345.918 93 257 93zm16 202l-41-44-80 44 88-94 42 44 79-44-88 94z" fill="#0084ff"/></svg></button>
  </ion-fab>
</ion-content>

