page-landing {

      background: #fff url('../assets/images/landing2.jpeg') no-repeat fixed center;
      height: 100%;
      width: 100%;

    .landing {
      margin: auto;
      max-width: 180px;
      height: 50%;
      padding-top: 50%;
    }

    .button{
      margin-top: 80%
    }

      
}
