page-landing {

      background: #fff url('../assets/images/landing2.jpeg') no-repeat fixed center;
      height: 100%;
      width: 100%;

    .landing-button {
      margin-top: 130%;
      margin-left: 22%;
    }
}
