<!--
  Generated template for the ClothPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{cloth.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item>
   <div float-right tooltip = "You can only rate designs you have bought">
      <ion-badge>NGN{{cloth.price}}.00</ion-badge> <br>
        <div>
          ({{cloth.numSold}})
          <rating [(ngModel)]="cloth.rating"
            float-right
            class='star'
            readOnly="true" 
            max="5" 
            emptyStarIconName="star-outline" 
            halfStarIconName="star-half"
            starIconName="star"
            ></rating>
        </div>
      </div>
    {{cloth.name}} from <br> {{cloth.label}}
    <div class='clear'></div>
    <ion-slides pager>
      <ion-slide>
         <img class='slide-image' [src]='cloth.image1'/>
       </ion-slide>
       <ion-slide>
          <img class='slide-image' [src]='cloth.image2'/>
       </ion-slide>
       <ion-slide>
          <img class='slide-image' [src]='cloth.image3'/>
        </ion-slide>
         <ion-slide>
          <img class='slide-image' [src]='cloth.image4'/>
        </ion-slide>
        <!--  <ion-slide>
          <img class='slide-image' [src]='cloth.image5'/>
        </ion-slide> -->
     </ion-slides>
     <ion-grid>
        <ion-row>
          <ion-col col-sm-2 col-md-3 (click)='like(cloth, uid)' class='action-button' [ngClass]="(cloth.likers[uid]) ? 'liked' : 'unliked'">
            {{cloth.likes}}
            <ion-icon *ngIf='!cloth.likers[uid]' name="heart-outline"></ion-icon>
            <ion-icon *ngIf='cloth.likers[uid]' name="heart"></ion-icon>
          </ion-col>
          <ion-col col-sm-1 col-md-3 (click)='comment(cloth)' class='action-button'>
             {{cloth.numComment}}
             <ion-icon name="text"></ion-icon>
          </ion-col>
          <ion-col col-sm-2 col-md-3>
          <ion-fab top edge>
            <button ion-fab mini><ion-icon name="share"></ion-icon></button>
              <ion-fab-list side="top">
                <button ion-fab (click)='shareViaFacebook(cloth)'><ion-icon name="logo-facebook"></ion-icon></button>
                <button ion-fab (click)='shareViaTwitter(cloth)'><ion-icon name="logo-twitter"></ion-icon></button>
                <button ion-fab (click)='shareViaWhatsApp(cloth)'><ion-icon name="logo-whatsapp"></ion-icon></button>
              </ion-fab-list>
          </ion-fab>
           </ion-col>
           <ion-col col-sm-2 col-md-3 class='action-button'>
            <ion-icon name="information-circle" [tooltip]= 'info(cloth)' positionV="top" ></ion-icon>
           </ion-col>
          <ion-col col-sm-3 col-md-3 (click)='addToCart(cloth)' class='buy-button'>
            Order<ion-icon name="cart" side="right"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
</ion-content>
