<ion-content padding>
  <form [formGroup]="timeValue" novalidate>
    <ion-item>
      <ion-label>When</ion-label>
      <ion-select formControlName="time">
       <ion-option value="1">One hour time</ion-option>
       <ion-option value="2">Two hours time</ion-option>
       <ion-option value="3">Three hours time</ion-option>
       <ion-option value="4">Four hours time</ion-option>
       <ion-option value="5">Five hours time</ion-option>
       <ion-option value="6">Six hours time</ion-option>
       <ion-option value="7">Seven hours time</ion-option>
       <ion-option value="8">Eight hours time</ion-option>
      </ion-select>
    </ion-item>
    <button ion-button (click)='dismiss()'>Ok</button>
  </form>
</ion-content>