<ion-content padding>
<ion-card>
  <img class='userimage' src={{photoURL}}/>
    <button ion-button clear item-right (click)="editUser()">
      Edit
    </button>
  <ion-card-content>
    <ion-card-title>
      {{displayName}}
    </ion-card-title>
    
    <ion-list>
      <button ion-item>
        <ion-icon name="mail" item-left></ion-icon>
        {{email}}
       </button>
       <button ion-item>
        <ion-icon name="call" item-left></ion-icon>
        {{phone}}
       </button>
       <button ion-item>
        <ion-icon name="home" item-left></ion-icon>
        {{address}}
       </button>
       <button ion-item>
        <ion-icon name="man" item-left></ion-icon>
        Hieght
       </button>
       <button ion-item>
        <ion-icon name="videocam" item-left></ion-icon>
        Measurement
       </button>
    </ion-list>
  </ion-card-content>
</ion-card>

<button ion-button clear (click)="signOut()">
    Logout
</button>


</ion-content>