<ion-content padding>
<ion-card *ngIf="userDetails">
  <img class='userimage' src="{{ userDetails?.photoURL }}"/>
    <button ion-button clear item-right (click)="editUser()">
      Edit
    </button>
  <ion-card-content>
    <ion-card-title >
      {{userDetails?.displayName}}
    </ion-card-title>
    
    <ion-list>
      <button ion-item>
        <ion-icon name="mail" item-left></ion-icon>
        {{userDetails?.email}}
       </button>
       <button ion-item>
        <ion-icon name="call" item-left></ion-icon>
        {{userDetails?.phone}}
       </button>
       <button ion-item>
        <ion-icon name="home" item-left></ion-icon>
        {{userDetails?.address}}
       </button>
       <button ion-item (click)='height()'>
        <ion-icon name="man" item-left></ion-icon>
        Height
       </button>
       <button (click)='measure()' ion-item>
        <ion-icon name="videocam" item-left></ion-icon>
        Measurement
       </button>
    </ion-list>
  </ion-card-content>
</ion-card>

<button ion-button clear (click)="signOut()">
    Logout
</button>


</ion-content>