<ion-header>

  <ion-navbar>
    <ion-title>Video review</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
   <div>
    <h3>Did all your body fit in the screen thoughout the video duration?</h3>
    <ion-row>
       <ion-col col-6 ><button ion-button (click)='yes()' [disabled]="submitted">Yes</button></ion-col>
       <ion-col col-6 ><button ion-button outline (click)='no()'>No
       </button></ion-col>
    </ion-row>
   </div>
   <div>
   <p #progress></p>
   </div>
   <div class="progress-bar">
      <span #progressbar></span>
   </div>
   <ion-grid>
     <ion-row>
        <ion-col col-6 *ngIf = 'bodyChecked()' ><button ion-button (click)='submitVideo()' [disabled]="submitted">Submit</button></ion-col>
        <ion-col col-6 *ngIf = '!bodyChecked()'><button ion-button outline (click)='retakeVideo()'>Retake
        </button></ion-col>
        <ion-col col-6 *ngIf = 'uploadComplete'><button ion-button outline (click)='home()'>Home
        </button></ion-col>
     </ion-row>
   </ion-grid>
</ion-content>