<ion-header>

  <ion-navbar>
    <ion-title>Video review</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
   <video controls class='video'>
     <source src="{{video.fullPath}}" type="video/mp4">
   </video>

   <div>
    <p>Did all your body fit in the screen thoughout the video duration?</p>
      <input name="bodyCheck" ng-control="bodyCheck" type="radio" [value]="1"  [(ngModel)]="bodyCheck"> Yes<br/>
      <input name="bodyCheck" ng-control="bodyCheck" type="radio" [value]="2" [(ngModel)]="bodyCheck"> No<br/>
   </div>
   <div class="progress-bar">
      <span [style.width]="progressbar + '%'">{{progressbar}}</span>
   </div>
   <ion-grid>
     <ion-row>
        <ion-col col-6 *ngIf = 'bodyChecked()'><button ion-button (click)='submitVideo()'>Submit</button></ion-col>
        <ion-col col-6 *ngIf = '!bodyChecked()'><button ion-button outline (click)='retakeVideo()'>Retake
        </button></ion-col>
     </ion-row>
   </ion-grid>
</ion-content>