<ion-header>
  <ion-toolbar>
    <ion-title>
      Filter feeds
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="filterOptions" novalidate>
    <ion-item>
      <ion-label>Class</ion-label>
      <ion-select formControlName="class">
       <ion-option value="casuals">Casual Wears</ion-option>
       <ion-option value="corporate">Corporate Wears</ion-option>
       <ion-option value="native">Traditional Wears</ion-option>
       <ion-option value="shirt">Shirts</ion-option>
       <ion-option value="trousers">Trousers</ion-option>
       <ion-option value="gown">Gown</ion-option>
       <ion-option value="wedding">Wedding Outfits</ion-option>
       <ion-option value="ankara">Ankara</ion-option>
       <ion-option value="suit">Suits</ion-option>
      </ion-select>
    </ion-item>
    <ion-grid>
    <ion-row>
       <ion-col col-6>
          <button ion-button (click)="cancel()" type='button'>
           cancel
          </button>
        </ion-col>
       <ion-col col-6>
          <button ion-button (click)="dismiss()">
            ok
          </button>
        </ion-col>
     </ion-row>
  </ion-grid>
  </form>
</ion-content>