  <div class="filter">
    <div class='cartblock' (tap) = 'goToCart()' float-right>
        <div  float-right>
            <span>{{noOfCartItems}}</span>
            <ion-icon class='button-filter' name="cart"></ion-icon>
        </div>
    </div>
    
    <div class='filterblock'>
        <div  (tap) = 'filter()'>
            <ion-icon class='button-filter' name="options"></ion-icon>
        </div>
    </div>
  </div>
  

 <ion-content class='cloths'>
  <div *ngIf='!cloths' padding>
      <p>oops, more like bad connection</p>
      <p> please wait....</p>
  </div>
  <ion-item *ngFor='let cloth of cloths'>
    <div class='clothspace'>
      <div float-right tooltip = "You can only rate designs you have bought">
        <ion-badge>NGN{{cloth.price}}.00</ion-badge>
          <div>
            <span class='num-sold'>({{cloth.numSold}})</span>
            <rating [(ngModel)]="cloth.rating"
              float-right
              class='star'
              readOnly="true" 
              max="5" 
              emptyStarIconName="star-outline" 
              halfStarIconName="star-half"
              starIconName="star"
              >
            </rating>
          </div>
        </div>
      <div (tap)='goToTailor(cloth.labelId)'>
        {{cloth.name}} from <br> {{cloth.label}}
      </div>  
      <div class='clear'></div>
      <ion-slides pager (tap)='goToCloth(cloth, uid)'>
        <ion-slide>
           <img class='slide-image' [src]='cloth.image1'/>
         </ion-slide>
         <ion-slide>
            <img class='slide-image' [src]='cloth.image2'/>
         </ion-slide>
         <ion-slide>
            <img class='slide-image' [src]='cloth.image3'/>
          </ion-slide>
           <ion-slide>
            <img class='slide-image' [src]='cloth.image4'/>
          </ion-slide>
       </ion-slides>
       <div>
          <div>
            <span (tap)='like(cloth, uid)' class='action-button' [ngClass]="(cloth.likers[uid]) ? 'liked' : 'unliked'">
              {{cloth.likes}}
              <ion-icon *ngIf='!cloth.likers[uid]' name="heart-outline"></ion-icon>
              <ion-icon *ngIf='cloth.likers[uid]' name="heart"></ion-icon>
            </span>
            <span (tap)='comment(cloth)' class='action-button'>
               {{cloth.numComment}}
               <ion-icon name="text"></ion-icon>
            </span>
            <span class='action-button' [tooltip]= 'info(cloth)'>
              <ion-icon name="information-circle" positionV="top" ></ion-icon>
             </span>
            <span>
              <span class='action-button' (tap)='share(cloth)'>
                <ion-icon name="share" ></ion-icon>
              </span>
             </span>
             
            <span (click)='addToCart(cloth)' class='buy-button'>
              <ion-icon name="cart" side="right"></ion-icon>
            </span>
          </div>
        </div>
      </div>
  </ion-item>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
     <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  </ion-content>
