  <div class="filter" (click) = 'filter()'>
      <ion-icon class='button-filter' name="options"></ion-icon>
  </div>

 <ion-content>
  <ion-item *ngFor='let cloth of cloths | async'>
    <div float-right>
      <ion-badge>{{cloth.price | currency}}</ion-badge> <br>
        <div class='star'>
         <ion-icon name="star"></ion-icon>
         <ion-icon name="star"></ion-icon>
         <ion-icon name="star-half"></ion-icon>
        </div>
      </div>
    {{cloth.name}} from <br> {{cloth.label}}
    <div class='clear'></div>
    <ion-slides pager>
      <ion-slide>
         <img class='slide-image' [src]='cloth.image1'/>
       </ion-slide>
       <ion-slide>
          <img class='slide-image' [src]='cloth.image2'/>
       </ion-slide>
       <ion-slide>
          <img class='slide-image' [src]='cloth.image3'/>
        </ion-slide>
         <ion-slide>
          <img class='slide-image' [src]='cloth.image4'/>
        </ion-slide>
         <ion-slide>
          <img class='slide-image' [src]='cloth.image5'/>
        </ion-slide>
     </ion-slides>
     <ion-grid>
        <ion-row>
          <ion-col col-sm-2 (click)='like(cloth, uid)'>
            {{cloth.likes}}
            <ion-icon name="heart"></ion-icon>
          </ion-col>
          <ion-col col-sm-2 (click)='comment(cloth)'>
             {{cloth.numComment}}
             <ion-icon name="text"></ion-icon>
          </ion-col>
          <ion-col col-sm-2 (click)='share(cloth)'>
            <ion-icon name="share"></ion-icon>
           </ion-col>
          <ion-col col-sm-3></ion-col>

          <ion-col col-sm-3 (click)='addToCart(cloth)'>
            <ion-icon name="cart" side="right"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-item>
  </ion-content>
