page-edit-user {
    .userimage {
      margin: auto;
      width: 40%;
      height: 40%;
      border-radius: 10%
   }

    ::-webkit-scrollbar{
      display:none;
      }

    .card-content {
      padding-right: 5px;
      padding-left: 5px;
    }
}
