
<ion-header>

  <ion-navbar>
    <ion-title>Cart</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <div *ngIf='!cart'>
      <p>Your Cart is empty</p>
    </div>
    <ion-list *ngFor = "let order of cart; let i = index">
        <ion-item>
          <ion-thumbnail item-start>
              <img src="{{order.image1}}">
          </ion-thumbnail>
          <h2>{{order.name}}</h2>
          <p>{{order.label}}</p>
          <p>Price: <span class='danger'>NGN{{order.price}}.00</span></p>
          <span class='red' (tap)='remove(order, i)'>Remove</span>
        </ion-item>
     </ion-list>
     <span>Total: NGN{{total}}.00</span>
    <div *ngIf='cart.length != 0'>
      <button ion-button block (click)='pay()'>
        Place your Order
      </button>
    </div>
    
</ion-content>


